.mobile-ui-preview {
display: block;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
float: none;
z-index: auto;
width: 200px;
height: 400px;
position: absolute;
cursor: default;
opacity: 1;
margin: 0;
padding: 125px 20px 20px;
overflow: hidden;
border-top: 50px solid rgba(56,56,56,1);
border-right: 0 solid;
border-bottom: 50px solid rgba(40,40,40,1);
border-left: 0 solid rgba(90,90,90,1);
-webkit-border-radius: 18px;
border-radius: 18px;
font: italic normal bold 15px/1.4 "Aldrich", Helvetica, sans-serif;
color: rgba(196,66,66,1);
text-align: center;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
background: rgba(252,252,252,1);
-webkit-box-shadow: -1px 1px 0 0 rgba(90,90,90,0.8) , -5px 7px 0 0 rgba(66,66,66,1) , -1px -1px 1px 0 rgba(0,0,0,0.4) inset, -25px 15px 10px 0 rgba(0,0,0,0.56) ;
box-shadow: -1px 1px 0 0 rgba(90,90,90,0.8) , -5px 7px 0 0 rgba(66,66,66,1) , -1px -1px 1px 0 rgba(0,0,0,0.4) inset, -25px 15px 10px 0 rgba(0,0,0,0.56) ;
text-shadow: -1px 2px 1px rgba(0,0,0,0.2) ;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
-webkit-transform: rotateX(-0.0107045659deg) rotateY(-19.48056503444799deg) rotateZ(-0.2918311805deg)  translateX(180px) translateY(30px) ;
transform: rotateX(-0.0107045659deg) rotateY(-19.48056503444799deg) rotateZ(-0.2918311805deg)  translateX(180px) translateY(30px) ;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
}

.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 60px;
  height: 20px;
  border: 4px solid rgba(105,107,109,0.91);
  -webkit-border-radius: 7px;
  border-radius: 7px;
  font: normal 14px/1 "Times New Roman", Times, serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgb(50,50,50);
}


* {
  box-sizing: border-box;
}

body {
  background: #2ecc71;
}

.container {
  width: 680px;
  margin: 0px auto;
  position: relative;
  /* HAVE SCALED TO FIT THE WINDOW */
  transform: scale(0.6);
}

.container > .screen {
  width: 460px;
  height: 280px;
  position: relative;  
  background: #ff6860;
  border: 20px solid #474e5d;
  border-radius: 10px;
}

.monitor > div {
  position: absolute;
}

.monitor:before,
.monitor:after,
.laptop:before{
   content: "";
   position: absolute;
   left: 50%;
 }

.monitor:before,
.laptop:before {
  top: -10px;
  margin: -3px 0 0 -3px;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #a5adbd;
}

.screen:after {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  bottom: -10px;
  margin: 0 0 -4px -4px;
  background: #e8ebf0;
}

.content {
  width: 420px;
  height: 240px;
  left: 50%;
  margin-left: -210px;
  overflow: hidden;
}

/*.content:before {
  content: "";
  position: absolute;
  right: -90px;
  width: 200px;
  height: 300px;
  transform: rotate(45deg);
  background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 100%);
  z-index: 5;
}*/

.pg {
  width: 240px;
  height: 180px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -90px 0 0 -120px;
  background: #ffffff;
  border: 1px solid #f4f5f7;
  border-top: 20px solid #f4f5f7;
  border-radius: 5px;
  box-shadow: 0 5px 0 #e0625e;
}

.btns {
  position: absolute;
  top: -20px;
  left: 7px;
}

.btns:before {
  content: "";
  position: absolute;
  left: 35px;
  top: 5px;
  height: 10px;
  width: 185px;
  background: #fff;
  border-radius: 3px;
}

.btns > li {
  display: inline-block; 
  list-style: none;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #fc5254;
  margin-right: 4px;
}

.btns li:nth-child(2) {
   background: #fcae52; 
}

.btns li:nth-child(3) {
   background: #66b34e; 
}

.txt {
   margin: 10px auto; 
  width: 220px;
}

.txt > li {
  background: #f3f5f7;
  width: 100%;
  height: 15px;
  margin-bottom: 9px;
}

.txt > li:nth-child(2) {
  height: 60px;
}

.txt > .thin {
  height: 43px;
  width: 30%;
  margin-right: 6px;
  display: inline-block;  
}

.txt > li:nth-child(5) {
  margin-right: 0;
}

.base {
  width: 90px;
  height: 50px;
  bottom: -70px;
  left: 50%;
  margin-left: -45px;
  background: #e8ebf0;
}

.base:before,
.base:after,
.grey-shadow:before,
.grey-shadow:after{
  content: "";
  position: absolute;
  top: 0;
}

.base:before {
  border-left: 13px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 50px solid #e8ebf0;
  left: -13px;
}

.base:after {
  border-right: 13px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 50px solid #e8ebf0;
  right: -13px;
}

.base > div {
   position: absolute; 
}

.grey-shadow {
  width: 90px;
  height: 12px;
  background: #d8dbe1;
  top: 0;
}

.grey-shadow:before {
  border-left: 3px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 12px solid #d8dbe1;
  left: -3px;
  z-index: 2
}

.grey-shadow:after {
  border-right: 3px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 12px solid #d8dbe1;
  right: -3px;
  z-index: 2
}

.foot {
  background: #e8ebf0;
  z-index: 1;
}

.foot.top {
  width: 116px;
  height: 5px;
  bottom: -5px;
  left: 50%;
  margin-left: -58px;
}

.foot.top:before,
.foot.top:after,
.foot.bottom:before {
  content: "";
  position: absolute;
  top: 0px;
}

.foot.top:before {
  border-left: 16px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 5px solid #e8ebf0;
  left: -16px;
}

.foot.top:after {
  border-right: 16px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 5px solid #e8ebf0;
  right: -16px;
}


.foot.bottom {
  width: 150px;
  height: 5px;
  bottom: -10px;
  left: 50%;
  margin-left: -75px;
  z-index: 999;
}

.laptop {
  width: 235px;
  height: 155px;
  background: #fc9252;
  border: 12px solid #e8ebf0;
  border-radius: 10px 10px 0 0;
  position: absolute;
  top: 200px;
  right: 30px;
}

.laptop:before {
 top: -6px;
}

.laptop > div {
  position: absolute; 
}

.laptop > .content {
  width: 211px;
  height: 131px;
  left: 0;
  margin-left: 0;
}

.txt-laptop {
   width: 189px; 
}

.txt-laptop > li {
  background: #fda566;
}

.txt-laptop > li:nth-child(2) {
  height: 41px;
}

.txt-laptop > .thin {
  height: 36px;
  margin-right: 5px;
}

.btm {
  width: 296px;
  height: 7px;
  bottom: -19px;
  left: 50%;
  margin-left: -148px;
  border-radius: 0 0 20px 20px;
  background: #f4f5f7;
  z-index: 1;
}

.btm:before {
  content: "";
  position: absolute;
  width: 42px;
  height: 3px;
  left: 50%; 
  top: 0;
  margin-left: -21px;
  border-radius: 0 0 5px 5px;
  background: #d8dbe1;
}

.keyboard {
  width: 216px;
  height: 35px;
  bottom: -70px;
  left: 50%;
  margin-left: -108px;
  background: #e8ebf0;
  box-shadow: 0 4px 0 #d8dbe1;
  z-index: 2;
}

.keyboard:before,
.keyboard:after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
}

.keyboard > div {
   position: absolute; 
}

.keyboard .btm {
  background: #d8dbe1;
  width: 244px;
  height: 4px;
  border-radius: 0;
  bottom: -4px;
  left: 50%;
  margin-left: -122px;
}


.keyboard:before {
  border-left: 14px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 35px solid #e8ebf0;
  left: -14px;
}

.keyboard:after {
  border-right: 14px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 35px solid #e8ebf0; 
  right: -14px;
}

.keys {
  width: 220px;
  margin: 4px auto;
  text-align: center;
  position: relative;
  left: 50%;
  margin-left: -110px;
}

.keys li {
  position: relative;
  left: 50%;
  background: #f4f5f7;
  height: 4px;
  margin: 0 0 3px -110px;
  z-index: 4;
}

.keys li:nth-child(1) {
  width: 208px;
  margin-left: -104px;
}

.keys li:nth-child(2) {
  width: 212px;
  margin-left: -106px;
}

.keys li:nth-child(2) {
  width: 212px;
  margin-left: -106px;
}

.keys li:nth-child(3) {
  width: 216px;
  margin-left: -108px;
}

.keys li:nth-child(4) {
  width: 220px;
  margin-left: -110px;
}

.keys li:before,
.keys li:after {
  content: "";
  position: absolute;
}

.keys li:before {
  border-left: 3px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 4px solid #f4f5f7;
  left: -3px;
}

.keys li:after {
  border-right: 3px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 4px solid #f4f5f7;
  right: -3px;
}

.phone {
  width: 525px;
  height: 875px;
  margin: 11%;
  position: absolute;
  /*bottom: -90px;
  left: -30px;*/
  border-radius: 5px;
  background: #000;
  border: 50px solid #2f343e;
  border-left: 5px solid #2f343e;
  border-right: 5px solid #2f343e;
}

.phone:before,
.phone:after {
  content: "";
  position: absolute;
  left: 42%;
  background: #474e5d;
}

.phone:before {
  background: #474e5d;
  width: 100px;
  height: 6px;
  margin-left: -5px;
  top: -20px;
  border-radius: 2px;
}

.phone:after {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  bottom: -45px;
  margin-left: 18px;
}

.phone .screen {
  /*width: 60px;
  height: 90px;*/
  position: relative;
  overflow: hidden;
}

.phone .content {
  background: #fff;
  height: 775px;
  width: 515px;
  left: 0%;
  margin-left: 0px;
}

.phone .txt {
  width: 85%;
}

.phone .txt > li {
  height: 20px;
}
  
.shadow {
  position: absolute;
  width: 350px;
  height: 15px;
  left: 50%;
  margin-left: -175px;
  z-index: -1;
  bottom: -20px;
  background: radial-gradient(ellipse at center, rgba(52,172,108,1) 0%,rgba(52,172,108,1) 53%,rgba(46,204,113,1) 55%,rgba(46,204,113,0) 55%,rgba(46,204,113,0) 100%);
}

.laptop .shadow {
  width: 450px;
  margin-left: -225px; 
  bottom: -26px;
}

.keyboard .shadow {
  bottom: -10px;
  height: 10px;
}

.phone .shadow {
  bottom: -30px;
  margin-left: -50px;
  height: 10px;
  width: 100px
}

.showbox {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    transition-property: initial;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}


.showbox.scale:hover {
    -webkit-transform: scale(0.68);
    -moz-transform: scale(0.68);
    -o-transform: scale(0.68);
    -ms-transform: scale(0.68);
    transform: scale(0.68);
}

/********sliding menu********/

.main-menu:hover, nav.main-menu.expanded {
width:250px;
overflow:hidden;
opacity:1;

}

.main-menu {
background:#ff6860;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:55px;
overflow:hidden;
-webkit-transition:width .2s linear;
transition:width .2s linear;
-webkit-transform:translateZ(0) scale(1,1);
box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity:1;
}

.main-menu>ul {

}

.main-menu li {
position:relative;
display:block;
width:250px;
height: 50px;


}

.main-menu li>a {
position:relative;
width:255px;
    height: 50px;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#ffffff;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .14s linear;
transition:all .14s linear;
font-family: 'Strait', sans-serif;
border-top:1px solid #f3f5f7;
}

.material-icons {
font-size: 1em;
position: relative;
display: table-cell;
width: 55px;
height: 36px;
text-align: center;
top:12px; 
font-size:20px;

}



.main-menu .nav-icon {
  
position:relative;
display:table-cell;
width:55px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;

}
.main-menu .nav-text  {
   
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: 'Titillium Web', sans-serif;
}

.main-menu .share {
}



.main-menu .fb-like {

left: 180px;
position:absolute;
top: 15px;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
  
}

.no-touch .scrollable.hover {
overflow-y:hidden;

}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
  
}


/* Logo Hover Property */


.settings:hover, settings:focus {   
  background:url( http://s17.postimg.org/74cl7s05b/logo_hover.jpg);
  -webkit-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
-moz-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
-o-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0; 
}

.settings:active, settings:focus {   
  background:url( http://s3.postimg.org/bqfooag4z/startific.jpg);
  -webkit-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
-moz-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
-o-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0; 
}


a:hover,a:focus {
text-decoration:none;
border-left:0px solid #F7F7F7;



}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
  
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
text-transform: uppercase;
}




/* Darker element side menu Start*/


.darkerli
{
background-color:#ededed;
text-transform:capitalize;  
}

.darkerlishadow
{
background-color:#ededed;
text-transform:capitalize;  
-webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
-moz-box-shadow:    inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
box-shadow:         inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}


.darkerlishadowdown
{
background-color:#ededed;
text-transform:capitalize;  
-webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
-moz-box-shadow:    inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
box-shadow:         inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}

/* Darker element side menu End*/




.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#00bbbb;
text-shadow: 0px 0px 0px; 
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
